@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  /* background-color: #282c34; */
  background-color: #404040;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  width: 70px;
  height: 50px;
  font-weight: bold;
  font-style: oblique;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}


.home-menu {
  animation: animate .3s ease-in-out .1s 1 normal forwards;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}